/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Root */
:root {
    --grey-light: hsl(210, 36%, 96%);
    --white: #fff;
    --black: #000;
    --black-light: #222;
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
    --radius: 0.25rem;
}

/* Global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--font-primary);
    color: var(--black);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
} 
  
@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    body {
      font-size: 1rem;
    }
}

/* Content */

body {
    color: var(--grey-light);
}

h1 {
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    padding: 70px;
}

.container {
    padding: 60px;
}

/* Projects */

.projects ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .projects ul {
        justify-content: center;
    }
}

.projects ul li {
    margin: 30px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 30px;
}

.projects img {
    width: 500px;
    height: 350px;
    object-fit: cover;
}