/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Root */
:root {
    --white: #fff;
    --black: #222;
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
    --transition: all 1s ease-in-out;
    --spacing: 0.1rem;
}

/* Global style */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--font-primary);
}

/* Header */

header {
    min-height: 100vh;
    position: relative;
}

header h1 {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    header h1 {
        bottom: 0.25rem;
        right: 1rem;
    }
}

/* Preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
}

/* Video */

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Content */

.content {
    height: 100vh;
}

.video-container-bis {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
