/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Root */
:root {
    --grey-light: hsl(210, 36%, 96%);
    --white: #fff;
    --blue: hsl(205, 78%, 60%);
    --black: #222;
    --yellow: #FFFF00;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
}

/* Global style */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--font-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
} 

/* Navbar */

.nav {
    background: var(--white);
    box-shadow: var(--light-shadow);
}

/* Nav header */

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--black);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }

.nav-toggle:hover {
    transform: rotate(90deg);
}

.logo {
    height: 80px;
}

/* Links */

.links {
    height: 0;
    padding-top: 1rem;
    overflow: hidden;
    transition: var(--transition);
}

.links a {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--grey);
    padding: 1rem 1.25rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
}

.links a:hover {
    color: var(--yellow);
    border-radius: var(--radius);
    padding-left: 1.5rem;
}

.links li {
    margin-bottom: 1rem;
}

.show-links {
    background-color: black;
    color: var(--white);
    height: 10.75rem;
}

.social-icons {
    display: none;
}

/* Media screen */

@media screen and (min-width: 800px) {
    .nav, .links, .social-icons {
        display: flex;
        align-items: center;
    }

    /* Nav */
    .nav {
    justify-content: space-between;
    padding: 1rem;
    }

    .nav-toggle {
    display: none;
    }

    /* Links */
    .links {
    height: auto;
    }

    .links a {
    font-size: 1.50rem;
    padding: 2rem 1.25rem;
    }

    .links a:hover {
    background: var(--black);
    color: var(--white);
    border-radius: var(--radius);
    padding-left: 1.5rem;
    }

    /* Social icons */
    .social-icons li a {
        color: var(--black);
        margin: 0 0.5rem;
    }

    .social-icons li a:hover {
        transition: var(--transition);
    }

    .fa-facebook-f:hover {
        color: #3b5998;
    }

    .fa-twitter:hover {
        color: #00acee;
    }

    .fa-spotify:hover {
        color: #1DB954;
    }

    .fa-instagram:hover {
        color: #833AB4;
    }
}